<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<p:tabMenu activeIndex="#{param.i}">
    <p:menuitem value="Home" outcome="/index.xhtml" icon="pi pi-star">
        <f:param name="i" value="0" />
    </p:menuitem>
    <p:menuitem value="Projects" outcome="/project.xhtml" icon="pi pi-search">
        <f:param name="i" value="1" />
    </p:menuitem>
    <p:menuitem value="Documentation" outcome="/project.xhtml" icon="pi pi-file">
        <f:param name="i" value="2" />
    </p:menuitem>
    <p:menuitem value="About" outcome="/project.xhtml" icon="pi pi-briefcase">
        <f:param name="i" value="3" />
    </p:menuitem>
    <p:menuitem value="Social" outcome="/project.xhtml" icon="pi pi-user">
        <f:param name="i" value="4" />
    </p:menuitem>
</p:tabMenu>
</html>
