<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Project List</title>
</h:head>
<h:body>
    <ui:include src="navbar.xhtml"/>
    <h:form>
         <p:dataTable var="project" value="#{projectBean.findAll}">
            <p:column headerText="Project id">
                <h:outputText value="#{project.id}" />
            </p:column>

            <p:column headerText="name">
                <h:outputText value="#{project.name}" />
            </p:column>

            <p:column headerText="description">
                <h:outputText value="#{project.description}" />
            </p:column>

            <p:column headerText="status">
                <h:outputText value="#{project.status}" />
            </p:column>

            <p:column headerText="date begin">
                <h:outputText value="#{project.dateBegin}" />
            </p:column>

            <p:column headerText="date end">
                <h:outputText value="#{project.dateEnd}" />
            </p:column>

             <p:column headerText="view">
                 <h:commandButton value="View" action="projectView?faces-redirect=true" style="margin-right:20px;" ajax="false" >
                    <f:setPropertyActionListener value="#{project.id}" target="#{projectBean.projectId}"/>
                 </h:commandButton>
             </p:column>

             <p:column headerText="edit">
                 <h:commandButton id="ajax" value="edit" action="projectEdit?faces-redirect=true" style="margin-right:20px;" ajax="false" >
                     <f:setPropertyActionListener value="#{project.id}" target="#{projectBean.projectId}"/>
                 </h:commandButton>
             </p:column>

             <p:column headerText="delete">
                 <p:commandButton value="delete" action="#{projectBean.removeOne(project.id)}" style="margin-right:20px;" ajax="false" />
             </p:column>
        </p:dataTable>

        <p:commandButton value="Create project"  action="projectCreate?faces-redirect=true" style="margin-right:20px;" ajax="false" />
    </h:form>
</h:body>
</html>
